.container-styling {
  margin-top: 8%;
  min-height: 7vh;
}
.card-styling {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  position: relative;
  min-height: 9vh;
}
.element-styling {
  height: 100%;
  text-align: center;
}
.form-styling {
  margin-top: 10%;
  margin-left: 10%;
  height: 10%;
}
.input-styling {
  width: 100%;
  min-height: 60%;
  margin-top: 15px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 18px;
}
.btn-styling {
  margin-top: 0.7em;
  min-height: 70%;
  min-width: 40%;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px;
  background: darkred;
  color: white;
  padding-bottom: 5px;
}
.btn-split-styling {
  margin-top: 0.7em;
  min-height: 70%;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 30px;
  background: darkred;
  color: white;
  padding-bottom: 5px;
}
td {
  font-size: 18px;
  font-weight: bold;
}
::ng-deep .mat-menu-panel  {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-width: 30px !important;
}
::ng-deep .mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mat-menu-item {
  width: 35px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
.item-styling:hover {
  background-color: darkgray;
}
.item-styling {
  background-color: darkgray;
}
