<div>
  <div class="container container-styling">
    <div class="form-control card-styling">
      <div class="col-auto element-styling">
        <button class="btn btn-styling" (click)="fileDialogOpen()">Datei auswählen</button>
        <input id="fileDialog" type="file" hidden style="display: none" (change)="chosenFile($event)">
      </div>
      <div class="col element-styling">
        <input [(ngModel)]="resultPath" id="filePicker" class="input-styling" disabled/>
      </div>
      <div class="col-auto">
        <button class="btn btn-split-styling" [matMenuTriggerFor]="menu">{{this.split}}</button>
        <mat-menu #menu>
          <button *ngIf="this.split != ';'" mat-menu-item (click)="switchSplitter(';')">;</button>
          <button *ngIf="this.split != ','" mat-menu-item (click)="switchSplitter(',')">,</button>
          <input class="item-styling" mat-menu-item matInput placeholder="۞"
                 (click)="$event.stopPropagation()" [(ngModel)]="this.split" (input)="switchSplitter($event.target.value)">
        </mat-menu>
      </div>
    </div>
  </div>
</div>
