.body-style {
  margin: 0;
  padding: 0;
}
.share {
  position: fixed;
  /*top: 50%;
  left: 50%;*/
  transform: rotate(45deg);
  width: 60px;
  height: 60px;
  bottom: 70px;
  right: 70px;
}
.share ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.share ul li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  height: 100%;
  background: darkgray;
  transition: 0.5s;
  overflow: hidden;
  transform: scale(0);
  border-radius: 15px;
}
.share ul.active li {
  transform: scale(0.95);
}
.share ul li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /*line-height: 50px;
  font-size: 20px;*/
  transition: 0.5s;
  transform: rotate(-45deg) scale(0.7);
}
.share ul li a:hover {
  color: darkgray;
  background: darkgray;
  text-align: center;
  height: 100%;
  width: 100%;
  transform: rotate(-45deg) scale(0.8);
}
.share ul.active li:nth-child(1) {
  top: 0;
  left: -80px;
  transition-delay: 0s;
}
.share ul.active li:nth-child(2) {
  top: -80px;
  left: -80px;
  transition-delay: 0.25s;
}
.share ul.active li:nth-child(3) {
  top: -80px;
  left: 0;
  transition-delay: 0s;
}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darkred;
  transform: scale(0.95);
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
}
.toggle:before {
  content: url("../assets/004-more-button-of-three-dots.png");
  position: absolute;
  top: 15px;
  left: 20px;
  width: 41%;
  height: 76%;
  text-align: center;
  transform: rotate(-45deg) scale(1.4);
}
.toggle.active:before {
  content: url("../assets/005-close.png");
  height: 43px;
  width: 20px;
  transform: rotate(-45deg) scale(0.95);
}




.trash {
  content: url("../assets/002-garbage.png");
}
.checked {
  content: url("../assets/nike.png");
}
.deleteRow {
  content: url("../assets/006-delete-row.png");
}

