<div>
  <div class="container container-styling">
    <table id="table" class="table table-bordered" *ngIf="tableData != null && tableData != ''">
      <thead>
        <tr>
          <td style="visibility: hidden"></td>
          <td class="dropdown" *ngFor="let it of tableData[0].split(';');let i = index;">
            <button [id]="'ddBtn' + i" class="dropbtn btn-secondary dropdown-toggle">Auswahl</button>
            <ul class="dropdown-content">
              <li *ngFor="let it of articles" (click)="setParamsForDataBase(it)">{{it}}</li>
            </ul>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td><input type="checkbox"></td>
          <td *ngFor="let it of item.split(';')">
            {{it}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
