table {
  height: 100%;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}
tbody:after {
  border: 1px solid black;
}
.container-styling {
  align-items: center;
  margin-top: 10%;
}
.button-dropdown-style {
  width: 100%;
}
