<div>
  <div class="container container-styling table-responsive-md">
    <table id="table" class="table table-hover table-bordered" *ngIf="tableData != null && tableData != ''">
      <thead>
        <tr>
          <td style="visibility: hidden"></td>
          <td class="dropdown" *ngFor="let it of tableData[0].split(';');let i = index;">
            <button [id]="'ddBtn' + i"  class="dropbtn btn-secondary dropdown-toggle">{{articles[0]}}</button>
            <ul class="dropdown-content">
              <ng-container *ngFor="let it of articles" >
                <li  *ngIf="it != (dV.getElementById('ddBtn' + i) != null ? dV.getElementById('ddBtn' + i).innerText:articles[0])"  (click)="setParamsForDataBase(it,'ddBtn' + i)">
                  {{it}}
                </li>
              </ng-container>
            </ul>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData;let i = index;" [id]="'row' + i">
          <td><input [id]="'check'+i" type="checkbox"></td>
          <td (click)="editPopUp(item)" *ngFor="let it of item.split(';')">
            <label>{{it}}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
