table {
  height: 100%;
  width: 100%;
}
td {
  padding-left: 10px;
}
.container-styling {
  align-items: center;
  margin-top: 10%;
}
.button-dropdown-style {
  width: 100%;
}
/*********************************************************/
.dropbtn {
  width: 100%;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  cursor: pointer;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
}
/* Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: darkred;
}
input[type=checkbox] {
  transform: scale(1.5);
  position: absolute;
}
