/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html{
  height: 95%;
}


.body-styling {
  width: 50px;
  position: fixed;
  height: 50px;
  z-index: -5;
  background: url("assets/Sport_2000_rgb.jpg") no-repeat center;
  background-size: cover;
  left: 0;
  bottom: 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
