/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body, html {
  height: 95%;
}


.body-styling {
  width: 100%;
  position: fixed;
  height: 100%;
  /*transform: scale(0.8);*/
  opacity: 0.35;
  z-index: -5;
  background: url("assets/Sport_2000_rgb.jpg") no-repeat center;
  background-size: cover;
}

